#letterButton{
    -fx-background-color: BLACK;
    -fx-border-color: RED;
    -fx-border-width: 1.5;
    -fx-text-fill: WHITE;
    -fx-border-radius: 6 6 6 6;
    -fx-background-radius: 7 7 7 7;
    -fx-pref-width: 35;
    -fx-pref-height: 33;
    -fx-font-family: halvetica;
    -fx-font-size: 16;
    -fx-font-weight: bold;
    -fx-cursor: hand;

}
#letterButton2{
    -fx-background-color: BLACK;
    -fx-border-color: RED;
    -fx-border-width: 1.5;
    -fx-text-fill: WHITE;
    -fx-border-radius: 6 6 6 6;
    -fx-background-radius: 7 7 7 7;
    -fx-width: 35;
    -fx-height: 33;
    -fx-font-family: halvetica;
    -fx-font-size: 14;
    -fx-font-weight: bold;
    -fx-cursor: hand;

}
#pane{
    -fx-background-color:#d2cd50;
}
#palabraBox {
    -fx-border-color: #E6E4A0;
    -fx-border-width: 8;
    -fx-border-radius: 5 5 5 5;
}
#categoriaBox {
    -fx-background-color: #E5E2A1;
    -fx-background-radius: 9 9 9 9;
}

